@font-face {
    font-family: "Poiret One";
    src: url('/Fonts/PoiretOne-Regular.ttf') format('truetype');
}
/* Reseteo general */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poiret One";
    line-height: 1.6;
}

/* Header */
header {
    background-color: #333;
    padding: 1rem;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 5rem;
}

.navigation .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.link-list a {
    color: rgb(13, 191, 240);
    text-decoration: none;
}


/* Sección Principal */
.principal {
    background-color: rgb(255, 245, 245);
}

.producto-destacado h2 {
    text-align: center;
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

.div-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 60rem;
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s; 
}
figure:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    border-end-end-radius: 1rem;
}

.card-img {
    height: 10rem;
    width: 10rem;
}

ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

/* Footer*/
footer {
    background-color: #333;
    color: white;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center;
}

footer p, footer nav {
    margin: 0;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
    /* Ajustar navegación para pantallas medianas */
    .navigation .menu {
        flex-direction: column;
        gap: 0.5rem;
    }

    /* Ajustar layout de tecnologías destacadas */
    .producto-destacado div {
        grid-template-columns: 1fr;
    }

    /* Footer en una sola columna */
    footer {
        grid-template-columns: 1fr;
        text-align: left;
    }
}
